h1{
    font-style: bold;
    font-size: 30px;
}

a{
    color: green;
}

h2{
    font-style: bold; 
    font-size: 30px;
    text-align: center; 
}

#favorites {
    border: 5px solid #D2B48C ;
    background-color: black;
}

.col-lg-4{
    float: left;
    width: 33.33%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    float: left;
}